* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header li a {
    display: block;
    position: relative;
    text-decoration: none;
    margin-top: 8px;
}
header li a:hover {
    text-decoration: underline;
}

.head {
    background-color: black;
    height: 180px;
}



.jogos {
    background-color: rgb(58, 0, 0);
}
.lives {
    background-color: rgb(37, 1, 71);
}
.tech {
    background-color: rgb(17, 17, 100);
}
.jornal{
    background-color: rgb(34, 43, 20);
}


.container { 
    width: 1266px;
    height: 1000px;
    margin: 0 auto 0 auto;
}
section .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    /* height: 230px; */
    width: 100%;
}
.articles article {
    width: 30%;
}

section { 
    padding: 16px 0;
}
section h2,
.articles article {
    margin-bottom: 16px;
}
section h2 {
    font-size: 35px;
}
section h3{
    font-size: 23px
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles-jogos article a {
    background-color: brown;
    color: whitesmoke;
    padding: 2px;
    display: inline-block;
    font-size: 20px;
}

.articles-lives article a {
        background-color: rgb(128, 3, 121);
        color: whitesmoke;
        padding: 2px;
        display: inline-block;
        font-size: 20px;
}

.articles article a {
    text-decoration: none;
}
.articles article a:hover {
    text-decoration: underline;
}
    

.articles article p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header h1{
    font-size: 40px;
}

.datajogos .creation-date{
    color: rgb(209, 8, 209);
}
.datalive .creation-date{
    color: rgb(199, 1, 1);
}
.datatech .creation-date{
    color: rgb(80, 124, 8);
}
.datajornal .creation-date{
    color:rgb(139, 139, 240);
}





h1 {color:rgb(209, 8, 209);
}

h2 {color:rgb(255, 255, 255);
}

body {background-color:rgb(43, 43, 43);
}

.creation-date {color: red;
}

* {color: white;
}